
    <div class="shop-window-container">
        <div class="shop-header">
            <span class="shop-title">ย่อลิงค์รูป Catbox.moe</span>
            <div class="header-buttons">
                <a href="{{site.url}}" class="menu-link" style="text-decoration: none;"><button class="header-btn close-btn">X</button></a>
                <!-- <button class="header-btn minimize-btn"></button> -->
            </div>
        </div>

        <div class="shop-content">
            <iframe id="menuFrame" src="/link-info" frameborder="0" scrolling="auto"></iframe>
            </div>

        <div class="shop-footer">
            <div class="player-footer">
                <span>{{site.footer}} <a href="{{site.url}}" class="menu-link category-link">{{site.username}}</a>. All rights reserved.</span>
            </div>
        </div>
    </div>
