@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #8e9098;
    color: #fff;
    margin: 0;
    padding: 5px;
    image-rendering: pixelated;
}

.tree-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree-menu ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    display: none;
}

.menu-item.expanded>.submenu {
    display: block;
}

.menu-item {
    position: relative;
    font-weight: 500;
}

.menu-link {
    display: block;
    flex: 1;
    padding: 8px 10px;
    background-color: #cacbce;
    border: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #2e2e2e;
    text-decoration: none;
    font-size: 0.9em;
    text-shadow: 1px 1px #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 0px 2px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-shadow: 1px 1px 0px 2x rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow: 1px 1px 0px 2px rgba(255, 255, 255, 0.4) inset;
    /*box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;*/
    cursor: pointer;
    margin-bottom: 3px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 0.5px rgba(142, 144, 152, 0.5);
}

.menu-row {
    display: flex;
    align-items: stretch;
    /* ให้สูงเท่ากัน */
    gap: 2px;
    /* เว้นระยะระหว่างปุ่ม */
}

.small-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    background-color: #a70b0b;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    /* ทำให้ icon เล็กลง */
    cursor: pointer;
    border-radius: 2px;
    flex-shrink: 0;
    /* ไม่ให้บีบเล็กกว่านี้ */
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 0px 2px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-shadow: 1px 1px 0px 2x rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow: 1px 1px 0px 2px rgba(255, 255, 255, 0.4) inset;
    /*box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4) inset;*/
    cursor: pointer;
    margin-bottom: 3px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 0.5px rgba(142, 144, 152, 0.5);
}

.small-btn:hover {
    background-color: #7e0f0f;
}

.menu-link:hover {
    background-color: #6bae46;
}

.menu-link.category-link {
    font-weight: 700;
    color: #6e5100;
    text-shadow: 1px 1px #8e9098;
    -webkit-text-stroke: 0.5px rgba(142, 144, 152, 0.5);
}

@media (max-width: 768px) {
    body {
        padding: 3px;
    }

    .menu-link {
        padding: 6px 8px;
        font-size: 0.95em;
        border-width: 1px;
    }

    .small-btn {
        font-size: 0.95em;
        border-width: 1px;
    }

    .tree-menu ul {
        padding-left: 15px;
    }

    .menu-toggle {
        left: 3px;
    }

    .menu-toggle::before {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 2px;
    }

    .menu-link {
        font-size: 0.85em;
        padding: 5px 7px;
    }

    .small-btn {
        font-size: 0.85em;
        border-width: 1px;
    }

    .tree-menu ul {
        padding-left: 10px;
    }

    .menu-toggle {
        left: 2px;
    }

    .menu-toggle::before {
        font-size: 0.65em;
    }
}