<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Content</title>
    <link rel="stylesheet" href="{{ '/assets/css/2rd_menu.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <ul class="tree-menu">
        <li class="menu-item expanded">
            <a href="{{site.url}}" class="menu-link category-link" target="_top"><i class="fa-solid fa-hashtag"></i>
                ลิงค์โซเชียลมีเดีย</a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="https://bsky.app/profile/2rd.top" class="menu-link" target="_blank"><i
                            class="fa-brands fa-bluesky"></i> Bluesky</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.youtube.com/@2RD.Channel" class="menu-link" target="_blank"><i
                            class="fa-brands fa-youtube"></i> Youtube</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.tiktok.com/@2RD.Channel" class="menu-link" target="_blank"><i
                            class="fa-brands fa-tiktok"></i> Tiktok</a>
                </li>
                <!--<li class="menu-item">
                    <a href="mailto:contact@2rd.top?subject=สวัสดีครับ!" class="menu-link" target="_blank"><i class="fa-brands fa-at"></i> Email</a>
                </li>-->
            </ul>
        </li>
        <li class="menu-item expanded">
            <a href="/mods" class="menu-link category-link" style="color: #942626;" target="_top"><i
                    class="fa-solid fa-file-arrow-down"></i> โหลดม็อดภาษาไทย</a>
        </li>
    </ul>
    {% include footer.html %}
</body>

</html>