<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="facebook-domain-verification" content="7u9ww9l3125wn4hokjleeahvj8j45g" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#205352">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{site.url}}/assets/img/addons_icon.png">

  <!-- HTML Meta Tags -->
  <title>2RD Channel | ม็อดภาษาไทย</title>
  <meta name="description" content="แปลภาษาไทยแล้วแต่อารม โดย 2RD Channel">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{site.url}}/mods">
  <meta property="og:type" content="website">
  <meta property="og:title" content="2RD Channel | ม็อดภาษาไทย">
  <meta property="og:description" content="แปลภาษาไทยแล้วแต่อารม โดย 2RD Channel">
  <meta property="og:image" content="{{site.url}}/assets/img/addons_n_ogm.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{site.domain}}">
  <meta property="twitter:url" content="{{site.url}}/mods">
  <meta name="twitter:title" content="2RD Channel | ม็อดภาษาไทย">
  <meta name="twitter:description" content="แปลภาษาไทยแล้วแต่อารม โดย 2RD Channel">
  <meta name="twitter:image" content="{{site.url}}/assets/img/addons_n_ogm.png">


  <link rel="stylesheet" href="{{ '/assets/css/2rd_index.css' | prepend: site.baseurl }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>

<body>
  {% include mods.html %}
  {% include footer.html %}
</body>